wheel==0.45.1
huggingface_hub==0.33.0
google-api-python-client==2.172.0
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
textblob-fr==0.2.0
pandas==2.3.0
numpy==1.26.4
matplotlib==3.10.3
spacy==3.8.7
gensim==4.3.2
pyldavis==3.4.1
scipy == 1.10
langdetect==1.0.9
transformers==4.52.4
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
nltk==3.9.1
unidecode==1.4.0
streamlit==1.47.0
# dnspython==2.7.0
# pymongo==4.13.2
vaderSentiment==3.3.2
vader-multi==3.2.2.1
prefect==3.4.11
sentencepiece==0.2.0
dotenv==0.9.9
plotly==6.3.0
wordcloud==1.9.4
pyinstaller>=5.4
redis==6.4.0
datasets
accelerate>=0.26.0
psycopg2-binary>=2.9.0
pathlib
certifi ==2026.2.25
dnspython==2.8.0
pymongo==4.16.0
pytest==9.0.2

# bertopic
# mistral_inference
# xformers
#fr_core_news_md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.8.0/fr_core_news_md-3.8.0-py3-none-any.whl#sha256=8a70d090a54ef77525c3ffa6a6195b9d365f2cf369ae1cd84ede93f3d709079e
#fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl#sha256=7d6ad14cd5078e53147bfbf70fb9d433c6a3865b695fda2657140bbc59a27e29